namespace: uday-app-prd

istio:
  gatewayNamespace: istio-system

registry:
  dockercfg: eyJyZWdpc3RyeS51ZGF5LmNvcnA6NTAwMCI6eyJ1c2VybmFtZSI6ImRvY2tlcnVzZXIiLCJwYXNzd29yZCI6IjEyMzQ1IiwiZW1haWwiOiJjb250YXRvQHVkYXkuY29tLmJyIiwiYXV0aCI6IlpHeGxibU5oY0c5dElFUkJPa3c9In19

serviceAccount:
  name: deployer-sa

secrets:
  postgres:
    name: postgres-secret
    data:
      POSTGRES_USER: dXNlcg==
      POSTGRES_PASSWORD: c2VuaGExMjM=
      POSTGRES_DB: YXBwZGI=
  backend:
    name: backend-secret
    data:
      SECRET_KEY: Y2hhdmVqd3RzZWNyZXRh
      DATABASE_URL: cG9zdGdyZXNxbCtwc3ljb3BnMjovL3VzZXI6c2VuaGExMjNAcG9zdGdyZXMtc2VydmljZTo1NDMyL2FwcGRi

configmap:
  backend:
    name: backend-config
    data:
      JWT_ALGORITHM: "HS256"
      JWT_EXPIRATION_TIME: "30"
      APP_NAME: "FastAPI Enterprise"
      APP_VERSION: "1.0.0"
      ENVIRONMENT: "production"
      LOG_LEVEL: "WARNING"

persistence:
  storageClassName: longhorn
  postgres:
    name: postgres-pvc
    size: 50Gi
  uploads:
    name: uploads-pvc
    size: 20Gi

postgres:
  image: postgres:15
  service:
    name: postgres-service
    port: 5432
  replicas: 1
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1Gi"
      cpu: "1000m"

backend:
  image: registry.uday.corp:5000/uday-app/uday-backend:v3
  service:
    name: backend-service
    port: 8000
  replicas: 3
  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "1Gi"

frontend:
  image: registry.uday.corp:5000/uday-app/uday-frontend:v2
  service:
    name: frontend-service
    port: 80
  replicas: 3
  backendHost: ""
  resources:
    requests:
      memory: "128Mi"
      cpu: "200m"
    limits:
      memory: "256Mi"
      cpu: "400m"

migrationsJob:
  name: backend-migrations
  image: registry.uday.corp:5000/uday-app/uday-backend:v3

istioGateway:
  name: uday-gateway-prd
  host: site.uday.corp

virtualService:
  name: uday-virtualservice-prd
  host: site.uday.corp
